<p id="notice"><%= notice %></p>

<p>
  <strong>Channel customer:</strong>
  <%= @adjusment.channel_customer_id %>
</p>

<p>
  <strong>Kode barang:</strong>
  <%= @adjusment.kode_barang %>
</p>

<p>
  <strong>Jumlah:</strong>
  <%= @adjusment.jumlah %>
</p>

<p>
  <strong>Alasan:</strong>
  <%= @adjusment.alasan %>
</p>

<%= link_to 'Edit', edit_adjusment_path(@adjusment) %> |
<%= link_to 'Back', adjusments_path %>
