<div class="container">
  <%- model_class = Sale -%>
  <div class="page-header">
    <h1>Penjualan <%= @channel_customer.nama.titleize  %></h1>
  </div>
  <table id="index_of_sales" class="display table table-striped table-bordered responsive nowrap mini_size" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th style="font-size: 10px">No SO</th>
        <th style="font-size: 10px">PC</th>
        <th style="font-size: 10px">SO Manual</th>
        <th style="font-size: 10px">Customer</th>
        <th style="font-size: 10px">Ket Pembayaran</th>
        <th style="font-size: 10px">Cara Pembayaran</th>
        <th style="font-size: 10px">Netto Elite</th>
        <th style="font-size: 10px">Netto Lady</th>
        <th style="font-size: 10px">Total Pembayaran</th>
        <th style="font-size: 10px">Total Keseluruhan</th>
        <th style="font-size: 10px">Verifikasi</th>
        <th style="font-size: 10px"><%=t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>

    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= link_to sale.no_so.upcase, show_order_accounting_verifying_payments_path(sale_id: sale.id, cc_id: params[:cc_id]) %></td>
          <td><%= sale.sales_promotion.nil? ? '' : sale.sales_promotion.nama.upcase %></td>
          <td><%= sale.so_manual.present? ? sale.so_manual : "-" %></td>
          <td><%= sale.pos_ultimate_customer.nama.capitalize %></td>
          <td><%= sale.cara_bayar == 'um' ? 'Uang Muka' : 'Lunas' %></td>
          <td><%= sale.tipe_pembayaran %></td>
          <td><%= currency(sale.netto_elite) %></td>
          <td><%= currency(sale.netto_lady) %></td>
          <% total = (sale.pembayaran+sale.payment_with_debit_cards.sum(:jumlah)+sale.payment_with_credit_cards.sum(:jumlah)+sale.jumlah_transfer) %>
          <td class="money"><%= currency(total) %></td>
          <td class="money"><%= currency(sale.netto) %></td>
          <td><%= sale.validated? ? "Sudah" : "Belum" %></td>
          <td><%= link_to "Verify", verify_order_accounting_verifying_payments_path(cc_id: params[:cc_id], order_id: sale.id), :class => "btn btn-info" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>