<%= simple_form_for @search do |f| %>
  <div class="field">
    <%= f.input :channel_id, collection: Channel.order(:channel), label_method: :channel, value_method: :id,
        input_html: {style: 'width: 250px'} %>
  </div>
  <div class="field">
    <%= f.input :channel_customer_id, collection: ChannelCustomer.order(:nama), label_method: :nama, value_method: :id,
        input_html: {style: 'width: 250px'} %>
  </div>
  <div class="field">
    <%= f.input :dari_tanggal, as: :tanggal, readonly: true, input_html: {style: 'width: 250px'} %>
  </div>
  <div class="field">
    <%= f.input :sampai_tanggal, as: :tanggal, readonly: true, input_html: {style: 'width: 250px'} %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>