<%- model_class = Store -%>
<div class="page-header">
  <h1>Pameran <%= @store.nama %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <dt><strong>Kota:</strong> <%= @store.kota %></dt><br />
    <dt><strong>Dari Tanggal:</strong> <%= @store.from_period.strftime('%d %B %Y') %></dt><br />
    <dt><strong>Ke Tanggal:</strong> <%= @store.to_period.strftime('%d %B %Y') %></dt><br />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dt><strong>Akses Login Untuk Supervisor Pameran <%= @store.nama %></strong></dt><br />
    <table id="supervisor_store" class="display table table-striped table-bordered responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="all">Nama Supervisor</th>
          <th class="all">Email</th>
          <th class="all">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @store.supervisor_exhibition.nama %></td>
          <td><%= @store.supervisor_exhibition.email %></td>
          <td><%= @store.supervisor_exhibition.nama.slice(0..2)+@store.supervisor_exhibition.regex %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <dt><strong>Akses Login Untuk SPG/SPB Pameran <%= @store.nama %></strong></dt><br />
    <table id="spg_store" class="display table table-striped table-bordered responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="all">Nama SPG/SPB</th>
          <th class="all">Email</th>
          <th class="all">Password</th>
        </tr>
      </thead>
      <tbody>
        <% @store.sales_promotions.each do |sp| %>
          <tr>
            <td><%= sp.nama %></td>
            <td><%= sp.email %></td>
            <td><%= sp.nama.slice(0..2)+sp.regex %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div>
  <table id="merchant_store" class="display table table-striped table-bordered responsive nowrap" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="all">Nama Merchant</th>
        <th class="all">No Merchant</th>
      </tr>
    </thead>
    <tbody>
      <% @store.merchants.each do |sale| %>
        <tr>
          <td><%= sale.nama %></td>
          <td><%= sale.no_merchant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
  stores_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
  edit_store_path(@store), :class => 'btn btn-default' %>
<%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
  store_path(@store),
  :method => 'delete',
  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
  :class => 'btn btn-danger' %>
