<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Kode Barang</Data></Cell>
        <Cell><Data ss:Type="String">Nama Barang</Data></Cell>
        <Cell><Data ss:Type="String">Tanggal</Data></Cell>
        <Cell><Data ss:Type="String">Penerimaan</Data></Cell>
        <Cell><Data ss:Type="String">Pengeluaran</Data></Cell>
        <Cell><Data ss:Type="String">Saldo</Data></Cell>
        <Cell><Data ss:Type="String">Keterangan</Data></Cell>
      </Row>
    <% @report_stock_in.each do |rs| %>
      <Row>
        <Cell><Data ss:Type="String"><%= rs.kode_barang %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.nama %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.tanggal   %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.qty_in %></Data></Cell>
        <Cell><Data ss:Type="String">0</Data></Cell>
        <Cell><Data ss:Type="String">-</Data></Cell>
        <Cell><Data ss:Type="String">Stok Awal</Data></Cell>
      </Row>
    <% end %>
    <% @report_stock_out.each do |rs| %>
      <Row>
        <Cell><Data ss:Type="String"><%= rs.kode_barang %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.nama %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.tanggal   %></Data></Cell>
        <Cell><Data ss:Type="String">0</Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.qty_out %></Data></Cell>
        <Cell><Data ss:Type="String">-</Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.keterangan == 'B' ? 'Retur Display' : 'Penjualan' %></Data></Cell>
      </Row>
    <% end %>
    <% @report_stock_return.each do |rs| %>
      <Row>
        <Cell><Data ss:Type="String"><%= rs.kode_barang %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.nama %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.tanggal   %></Data></Cell>
        <Cell><Data ss:Type="String">0</Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.qty_out %></Data></Cell>
        <% a = StoreSalesAndStockHistory.where(no_sj: rs.no_sj, kode_barang: rs.kode_barang, keterangan: "R", channel_customer_id: params[:cc_id]).sum(:qty_in) - StoreSalesAndStockHistory.where(no_sj: rs.no_sj, kode_barang: rs.kode_barang, keterangan: "S", channel_customer_id: params[:cc_id]).sum(:qty_out) %>
        <Cell><Data ss:Type="String">-</Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.keterangan == 'B' ? 'Retur Display' : 'Penjualan' %></Data></Cell>
      </Row>
    <% end %>
    <% @report_stock_in.each do |rs| %>
      <Row>
        <Cell><Data ss:Type="String"><%= rs.kode_barang %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.nama %></Data></Cell>
        <Cell><Data ss:Type="String"><%= rs.tanggal   %></Data></Cell>
        <Cell><Data ss:Type="String">-</Data></Cell>
        <Cell><Data ss:Type="String">-</Data></Cell>
        <% a = StoreSalesAndStockHistory.where(no_sj: rs.no_sj, kode_barang: rs.kode_barang, keterangan: "R", channel_customer_id: params[:cc_id]).sum(:qty_in) - StoreSalesAndStockHistory.where(no_sj: rs.no_sj, kode_barang: rs.kode_barang, keterangan: ["S","B"], channel_customer_id: params[:cc_id]).sum(:qty_out) %>
        <Cell><Data ss:Type="String"><%= a %></Data></Cell>
        <Cell><Data ss:Type="String">Saldo Akhir</Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>