<p id="notice"><%= notice %></p>

<h1>Listing Pos Ultimate Customers</h1>

<table class="display table table-striped table-bordered responsive nowrap">
  <thead>
    <tr>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Email</th>
      <th>No telepon</th>
      <th>Handphone</th>
      <th>Handphone1</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @pos_ultimate_customers.each do |pos_ultimate_customer| %>
      <tr>
        <td><%= pos_ultimate_customer.nama.titleize %></td>
        <td><%= pos_ultimate_customer.alamat %></td>
        <td><%= pos_ultimate_customer.email %></td>
        <td><%= pos_ultimate_customer.no_telepon %></td>
        <td><%= pos_ultimate_customer.handphone %></td>
        <td><%= pos_ultimate_customer.handphone1 %></td>
        <td><%= link_to 'Edit', edit_pos_ultimate_customer_path(pos_ultimate_customer), class: "btn btn-info btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pos ultimate customer', new_pos_ultimate_customer_path, class: "btn btn-primary" %>
