<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @pos_ultimate_customer.nama %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @pos_ultimate_customer.alamat %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pos_ultimate_customer.email %>
</p>

<p>
  <strong>No telepon:</strong>
  <%= @pos_ultimate_customer.no_telepon %>
</p>

<p>
  <strong>Handphone:</strong>
  <%= @pos_ultimate_customer.handphone %>
</p>

<p>
  <strong>Handphone1:</strong>
  <%= @pos_ultimate_customer.handphone1 %>
</p>

<p>
  <strong>Kode customer:</strong>
  <%= @pos_ultimate_customer.kode_customer %>
</p>

<%= link_to 'Edit', edit_pos_ultimate_customer_path(@pos_ultimate_customer) %> |
<%= link_to 'Back', pos_ultimate_customers_path %>
