<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank_account.name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @bank_account.account_number %>
</p>

<% unless @controller %>
  <%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<% end %>
<%= link_to 'Back', bank_accounts_path %>
