<%= form_tag return_items_process_return_by_serial_path, :method => :put, :id => 'receipt_form' do %>
  <table id="table_receipt" class="display table table-striped table-bordered responsive nowrap" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th></th>
        <th class="all">No SJ</th>
        <th class="all">Tanggal SJ</th>
        <th class="all">Kode Barang</th>
        <th class="all">Nama Barang</th>
        <th class="all">Serial</th>
      </tr>
    </thead>

    <tbody>
      <% if @return_by_serial.present? %>
        <% @return_by_serial.each do |resep| %>
          <%= fields_for "return[]", resep do |f| %>
            <tr>
              <td><%= check_box_tag "return_ids[]", f.object.id %></td>
              <td><%= f.object.no_sj %></td>
              <td><%= f.object.tanggal_sj %></td>
              <td><%= f.object.kode_barang %></td>
              <%= f.hidden_field "kode_barang" %>
              <td><%= f.object.nama %></td>
              <td><%= f.object.serial %></td>
            <% end %>
          <% end %>
        <% else %>
        <% end %>
    </tbody>
  </table>
  <%= submit_tag "Check", :class => 'btn btn-primary' %>
  <%= link_to "Back", return_items_return_path,:class => 'btn btn-primary' %>
<% end %>