<p id="notice"><%= notice %></p>

<h1>Listing Channel Customers</h1>

<table class="display table table-striped table-bordered responsive nowrap">
  <thead>
    <tr>
      <%#*<th>Kode channel customer</th>%>
      <th>Channel</th>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Dari tanggal</th>
      <th>Sampai tanggal</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @channel_customers.each do |channel_customer| %>
      <tr>
        <%#*<td><%= channel_customer.kode_channel_customer %></td>
        <td><%= channel_customer.channel.channel %></td>
        <td><%= channel_customer.nama.titleize %></td>
        <td><%= channel_customer.alamat.titleize %></td>
        <td><%= channel_customer.dari_tanggal %></td>
        <td><%= channel_customer.sampai_tanggal %></td>
        <td><%= link_to 'Show', channel_customer, class: "btn btn-info btn-xs" %></td>
        <td><%= link_to 'Edit', edit_channel_customer_path(channel_customer), class: "btn btn-info btn-xs"%></td>
        <%#*<td><%= link_to 'Destroy', channel_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Channel customer Baru', new_channel_customer_path, class: "btn btn-primary" %>
