<%= simple_form_for @sale, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="row">
    <%= f.hidden_field :channel_customer_id, value: current_user.channel_customer.id if f.object.new_record? %>
    <div class="col-md-6">
      <%= f.input :sales_promotion_id, collection: @sales_promotion, label_method: :nama, value_method: :id,
        input_html: {style: 'width: 250px'} %>
      <%= error_span(@sale[:sales_promotion_id]) %>
        <%= f.input :no_telepon, input_html: { maxlength: 12, style: 'width: 250px',
          data: {autocomplete_source: pos_ultimate_customers_path}}, label: 'Nomor Telepon' %>
        <%= error_span(@sale[:no_telepon]) %>
      <%= f.input :nama, label: "Nama Konsumen", :input_html => {:style => 'width: 250px'} %>
      <%= f.input :email, :input_html => {class: "puc"}, value: f.object.email %>
        <%= error_span(@sale[:email]) %>
        <%= f.input :handphone, input_html: { maxlength: 12 }, :input_html => {:style => 'width: 250px'} %>
        <%= error_span(@sale[:handphone]) %>
        <%= f.input :handphone1, input_html: { maxlength: 12 }, :input_html => {:style => 'width: 250px'} %>
        <%= error_span(@sale[:handphone1]) %>
    </div>
    <div class="col-md-6">
      <%= f.input :alamat, as: :text, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:alamat]) %>
      <%= f.input :kota, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:kota]) %>
      <%= f.input :so_manual, :input_html => {:style => 'width: 250px'} %>
     <%= error_span(@sale[:so_manual]) %>
     <%= f.input :tanggal_kirim, as: :tanggal, :readonly => true, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:tanggal_kirim]) %>
      <%= f.input :keterangan_customer, :input_html => {:style => 'width: 250px'},
        label: "Keterangan (Untuk Ditampilkan di Invoice)" %>
      <%= error_span(@sale[:keterangan_customer]) %>
    </div>
  </div>
  <hr>
  <div class="row form-inline">
    <%= f.simple_fields_for :sale_items, as: 'user_inline', wrapper: :inline_form do |builder| %>
      <%= render "sale_item_fields", :f => builder %>
    <% end %>
    <%= link_to_add_fields "Add Item", f, :sale_items %>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div class="row-fluid">
        <span class="cara_bayar" style="display: inline-block">
          <%= f.input :netto, as: :string, :input_html => {value: f.object.netto, :style => 'width: 250px', :class => 'input_value'} %>
        </span>
        <span id="span_netto" style="display: inline-block; padding: 36px 0 0 65px; text-indent: -50px; vertical-align: top;" ></span>
      </div>
      <div class="row-fluid">
        <span class="cara_bayar" style="display: inline-block">
          <%= f.input :voucher, :input_html => {value: number_with_precision(f.object.voucher, precision: 2),
            :style => 'width: 250px' , :class => 'input_value'} %>
        </span>
        <span id="span_voucher"style="display: inline-block; padding: 36px 0 0 65px; text-indent: -50px; vertical-align: top;">
      </span>
      </div>
      <%= f.label :cara_pembayaran %><br />
      <%= check_box_tag 'tipe_pembayaran[]', "Tunai" %>Tunai
      <div class="row-fluid" style="padding: 10px 10px 10px 50px">
        <span class="cara_bayar" style="display: inline-block">
          <%= f.input :pembayaran, label: false, :input_html => {class: "nested_inline_form input_value"} %>
        </span>
       <span id="span_bayar"style="display: inline-block; padding: 5px 0 0 50px; text-indent: -50px; vertical-align: top;">
       </span>
      </div>
      <%= check_box_tag 'tipe_pembayaran[]', "Transfer" %>Transfer <br />
      <div class="row" style="padding: 10px 10px 10px 63px">
       <%= f.input :bank_account_id, as: :radio_buttons ,collection: BankAccount.all, label_method: :name, value_method: :id,
              label: false %>
        <span class="cara_bayar" style="display: inline-block">
          <%= f.input :jumlah_transfer, input_html: {class: 'input_value nested_inline_form'}, placeholder: "Jumlah Transfer" %>
        </span>
        <span id="span_transfer" style="display: inline-block; padding: 35px 0 0 65px; text-indent: -50px; vertical-align: top;">
        </span>
      </div>
      <%= check_box_tag 'tipe_pembayaran[]', "Debit Card" %>Kartu Debit <br />
      <div class="row form-inline" style="padding: 10px 10px 10px 63px">
        <%= f.simple_fields_for :payment_with_debit_card, wrapper: :inline_form do |builder| %>
          <%= builder.input :nama_kartu, :placeholder => 'Nama Kartu', :input_html => {class: "nested_inline_form"}  %>
          <%= builder.input :no_kartu_debit, :placeholder => 'No Kartu', :input_html => {class: "nested_inline_form"}  %>
          <%= builder.input :atas_nama, :placeholder => 'Atas Nama', :input_html => {class: "nested_inline_form"}  %>
          <span class="cara_bayar" style="display: inline-block">
            <%= builder.input :jumlah , placeholder: 'Jumlah', :input_html => {class: "nested_inline_form input_value"} %>
          </span>
          <span id="span_debit" style="display: inline-block; padding: 7px 0 0 50px; text-indent: -50px; vertical-align: top;">
          </span>
        <% end %>
      </div>
      <%= check_box_tag 'tipe_pembayaran[]', "Credit Card" %>Kartu Kredit <br />
      <div class="row form-inline" style="padding: 10px 10px 10px 63px">
        <%= f.simple_fields_for :payment_with_credit_cards, as: 'user_inline', wrapper: :inline_form,
          html: { class: 'form-inline' } do |builder| %>
          <% merchant = @merchant.nil? ? [] : @merchant  %>
          <% tenor = @tenor.nil? ? [] : @tenor  %>
          <%= builder.input :no_merchant, collection: merchant, label_method: :nama, value_method: :no_merchant,
            :input_html => {class: "nested_inline_form"}, include_blank: "Pilih Merchant"%>
          <%= builder.input :tenor, collection: tenor, label_method: :tenor, value_method: :mid,
            :input_html => {class: "nested_inline_form"}, include_blank: "Pilih Tenor" %>
          <%= builder.input :no_kartu_kredit, :placeholder => 'No Kartu', :input_html => {class: "nested_inline_form"}  %>
          <%= builder.input :nama_kartu, :placeholder => 'Nama Kartu', :input_html => {class: "nested_inline_form"}  %>
          <%= builder.input :atas_nama, :placeholder => 'Atas Nama', :input_html => {class: "nested_inline_form"}  %>
          <span class="cara_bayar" style="display: inline-block">
            <%= builder.input :jumlah , :placeholder => 'Jumlah', :input_html => {class: "nested_inline_form input_value"}  %>
          </span>
          <span id="span_credit" style="display: inline-block; padding: 5px 0 0 50px; text-indent: -50px; vertical-align: top;">
          </span>
          <span id="span_credit1" style="display: inline-block; padding: 0px 0 0 100px; text-indent: -50px; vertical-align: top;">
          </span>
          <br />
        <% end %>
      </div>

      <div class="row-fluid">
        <span class="cara_bayar" style="display: inline-block">
          <%= f.input :sisa, :input_html => {value: number_with_precision(f.object.sisa, precision: 2), :style => 'width: 250px;' },
            :readonly => true %>
        </span>
        <span id="span_sisa" style="display: inline-block; padding: 36px 0 0 65px; text-indent: -50px; vertical-align: top;"></span>
      </div>

      <div class="col-md-6">
        <div class="row-fluid">
          <span class="netto_elite" style="display: inline-block">
            <%= f.input :netto_elite, as: :string, :input_html => {value: number_with_precision(f.object.netto_elite, precision: 2),
              :class => 'input_value', :style => 'width: 250px;' } %>
          </span>
          <span id="span_netto_elite" style="display: inline-block; padding: 36px 0 0 65px; text-indent: -50px; vertical-align: top;">
          </span>
        </div>

        <div class="row-fluid">
          <span class="netto_lady" style="display: inline-block">
            <%= f.input :netto_lady, :input_html => {value: number_with_precision(f.object.netto_lady, precision: 2),
              :class => 'input_value', :style => 'width: 250px;' } %>
          </span>
          <span id="span_netto_lady" style="display: inline-block; padding: 36px 0 0 65px; text-indent: -50px; vertical-align: top;">
          </span>
        </div>
      </div>
    </div>
  </div>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")), sales_path, :class => 'btn btn-default' %>
<% end %>