<%= simple_form_for @sale, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="row">
    <%= f.hidden_field :channel_id, value: @spg_transaksi.store.channel.id if f.object.new_record? %>
    <%= f.hidden_field :store_id, value: @spg_transaksi.store.id if f.object.new_record? %>
    <%= f.hidden_field :sales_promotion_id, value: @spg_transaksi.id if f.object.new_record? %>
    <%= f.hidden_field :supervisor_exhibition_id, value: @spv_transaksi.id if f.object.new_record? %>
    <div class="col-md-6">
      <%= f.input :customer, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:customer]) %>
      <%= f.input :email, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:email]) %>
      <%= f.input :phone_number, input_html: { maxlength: 12 }, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:phone_number]) %>
      <%= f.input :hp1, input_html: { maxlength: 12 }, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:hp1]) %>
      <%= f.input :hp2, input_html: { maxlength: 12 }, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:hp2]) %>
    </div>
    <div class="col-md-6">
      <%= f.input :alamat_kirim, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:alamat_kirim]) %>
      <%= f.input :keterangan_customer, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:keterangan_customer]) %>
      <%= f.input :so_manual, :input_html => {:style => 'width: 250px'} %>
      <%= error_span(@sale[:so_manual]) %>
      <%= f.input :nota_bene, :input_html => {:style => 'width: 250px'}, label: "Keterangan Internal" %>
      <%= error_span(@sale[:nota_bene]) %>
    </div>
  </div>
  <div class="row">
    <%= f.simple_fields_for :sale_items, as: 'user_inline', wrapper: :inline_form, html: { class: 'form-inline' } do |builder| %>
        <%= render "sale_item_fields", :f => builder %>
      <% end %>
      <%= link_to_add_fields "Add Item", f, :sale_items %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= f.input :netto, as: :string, :input_html => {value: number_with_precision(f.object.netto, precision: 2), :style => 'width: 250px', :class => 'number'} %>
        <span id="span_netto" style="position:absolute; width:200px;height:30px; top: 35px; left: 260px;"></span>
        <%= f.input :voucher, :input_html => {value: number_with_precision(f.object.voucher, precision: 2), :style => 'width: 250px' } %>
        <span id="span_voucher"  style="position:absolute; width:200px;height:30px; top: 110px; left: 260px;"></span>
        <%= f.input :pembayaran, :input_html => {value: number_with_precision(f.object.pembayaran, precision: 2), :style => 'width: 250px' } %>
        <span id="span_bayar" style="position:absolute; width:200px;height:30px; top: 182px; left: 260px;"></span>
        <%= f.input :sisa, :input_html => {value: number_with_precision(f.object.sisa, precision: 2), :style => 'width: 250px' }, :readonly => true %>
        <span id="span_sisa" style="position:absolute; width:200px;height:30px; top: 255px; left: 260px;"></span>
      </div>
      <div class="col-md-6">
        <%= f.label :tipe_pembayaran %>
        <%= f.collection_radio_buttons :tipe_pembayaran, [['tunai', 'Tunai'] ,['debit', 'Kartu Debit'],['kredit', 'Kartu Kredit']], :first, :last, item_wrapper_tag: :div %>
        <div id="kk">
          <div class="col-md-5">
            <%= f.input :nama_kartu, input_html: { maxlength: 12 }, :input_html => {:style => 'width: 200px'} %>
            <%= error_span(@sale[:nama_kartu]) %>
            <%= f.input :no_kartu, :input_html => {:style => 'width: 200px'} %>
            <%= error_span(@sale[:no_kartu]) %>
          </div>
          <div class="col-md-5">
            <%= f.input :no_merchant, collection: @merchant, label: "Merchant", label_method: :nama, value_method: :no_merchant, :input_html => {:style => 'width: 200px'} %>
            <%= error_span(@sale[:no_merchant]) %>
            <%= f.input :atas_nama, :input_html => {:style => 'width: 200px'} %>
            <%= error_span(@sale[:atas_nama]) %>
          </div>
        </div>
      </div>
    </div>

    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      sales_path, :class => 'btn btn-default' %>
  <% end %>