<fieldset>
  <%= f.text_field :serial, :class => "serial", placeholder: "Serial" %>
  <%= f.text_field :kode_barang, :class => "kode_barang", placeholder: "Kode Barang" %>
  <%= f.text_field :nama_barang, :readonly => true, :class => "nama_barang", placeholder: "Nama Barang" %>
  <%= f.text_field :jumlah, placeholder: "Jumlah" %>
  <%= f.text_field :tanggal_kirim, :readonly => true, :class => "tanggal_kirim", placeholder: "Tanggal Kirim" %>
  <%= label_tag "Taken" %>
  <%= f.input_field :taken, label: true %>
  <%= label_tag "Bonus" %>
  <%= f.input_field :bonus, label: true   %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "remove", '#', class: "remove_fields btn-xs btn-danger" %>
</fieldset>
<hr>

<div id="modal-content" class="modal fade" tabindex="-1" role="dialog">
  <%= render 'items/index' %>
</div>