<%- model_class = Sale -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table id="index_of_sales" class="display table table-striped table-bordered responsive nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="all"><%= model_class.human_attribute_name(:no_so) %></th>
      <th class="all"><%= model_class.human_attribute_name(:asal_so) %></th>
      <th class="min-tablet-l"><%= model_class.human_attribute_name(:salesman_id) %></th>
      <th class="all"><%= model_class.human_attribute_name(:customer) %></th>
      <th class="min-tablet-l"><%= model_class.human_attribute_name(:phone_number) %></th>
      <th class="min-tablet-l"><%= model_class.human_attribute_name(:nota_bene) %></th>
      <th class="min-tablet-l"><%= model_class.human_attribute_name(:so_manual) %></th>
      <th class="all"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= link_to sale.no_so, sale_path(sale) %></td>
        <td><%= sale.store.nama %></td>
        <td><%= sale.salesman.nama %></td>
        <td><%= sale.customer %></td>
        <td><%= sale.phone_number %></td>
        <td><%= sale.nota_bene %></td>
        <td><%= sale.so_manual %></td>
        <td>
          <% if current_user.admin? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sale_path(sale), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <%= link_to "Print (PDF)", sale_path(sale, :format => 'pdf'), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            sale_path(sale),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "new", new_sale_path, :class => 'btn btn-primary' %>
