<%- model_class = Sale -%>
<div class="page-header">
  <h1><%= @sale.no_so %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <dt><strong>No Dealer:</strong> <%= @sale.store.kode_customer %></dt><br />
    <dt><strong>Pameran:</strong> <%= @sale.store.nama %></dt><br />
    <dt><strong>Tanggal:</strong> <%= @sale.created_at.to_date.strftime('%d %B %Y') %></dt><br />
  </div>
  <div class="col-md-6">
    <dt><strong>Periode Pameran:</strong> <%= @sale.store.from_period.nil? ? '' : @sale.store.from_period.strftime('%d %B %Y') %> - <%=  @sale.store.to_period.nil? ? '' : @sale.store.to_period.strftime('%d %B %Y') %></dt><br />
    <dt><strong>Supervisor:</strong> <%= @sale.store.supervisor_exhibition.nama.capitalize %></dt><br />
    <dt><strong>Spg/Spb:</strong> <%= @get_spg.nama.capitalize %></dt><br />
  </div>
  <br />
  <div>
    <table id="sale_items" class="display table table-striped table-bordered responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="all">Kode Barang</th>
          <th class="all">Nama Barang</th>
          <th class="min-tablet-l">Satuan</th>
          <th class="all">Jumlah</th>
          <th class="min-tablet-l">Bonus</th>
          <th class="min-tablet-l">Tanggal Kirim</th>
        </tr>
      </thead>
      <tbody>
        <% @sale.sale_items.each do |sale_items| %>
          <tr>
            <td><%= sale_items.kode_barang %></td>
            <td><%= sale_items.nama_barang %></td>
            <td>PCS</td>
            <td><%= sale_items.jumlah %></td>
            <td><%= sale_items.bonus? ? "Bonus" : "-" %></td>
            <td><%= sale_items.tanggal_kirim.strftime('%d %B %Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <dt><strong>Nama Customer :</strong> <%= @sale.customer.capitalize %></dt><br />
    <dt><strong>No Telp/Hp          :</strong> <%= @sale.phone_number %>, <%= @sale.hp1 %>, <%= @sale.hp2 %></dt><br />
    <dt><strong>Alamat Kirim       :</strong> <%= @sale.alamat_kirim %></dt>
  </div>
  <br />
  <div class="col-md-7">

    <div class="row-fluid form-inline" style="width: 500px; padding-bottom: 5px;">
      <dt style="display: inline-block; width: 100px;"><strong>Total:</strong></dt>
      <dt style="text-align: right; display: inline-block; width: 200px;"><%= number_to_currency(@sale.netto, precision:0, unit: "Rp. ", separator: ".", delimiter: ".") %></dt><br />
    </div>

    <div class="row-fluid form-inline" style="width: 500px; padding-bottom: 5px;">
      <% if @sale.voucher != 0 %>
        <dt style="display: inline-block; width: 100px;"><strong>Voucher:</strong></dt>
        <dt style="text-align: right; display: inline-block; width: 200px;"><%= number_to_currency(@sale.voucher, precision:0, unit: "Rp. ", separator: ".", delimiter: ".") %></dt><br />
      <% end %>
    </div>

    <dt style="padding-bottom: 5px;">Pembayaran</dt>

    <div class="row-fluid" style="padding-left: 10px;">

      <div class="row-fluid form-inline" style="width: 500px; padding-bottom: 5px;">
        <% if @tipe_pembayaran.include? ("Tunai") %>
          <dt style="display: inline-block; width: 90px;"><strong>Tunai:</strong></dt>
          <dt style="text-align: right; display: inline-block; width: 200px;"><%= number_to_currency(@sale.pembayaran, precision:0, unit: "Rp. ", separator: ".", delimiter: ".") %></dt><br />
        <% end %>
      </div>

      <div class="row-fluid form-inline" style="width: 500px; padding-bottom: 5px;">
        <% if @tipe_pembayaran.include? ("Kartu Debit") %>
          <dt style="display: inline-block; width: 90px;"><strong>Kartu Debit:</strong></dt>
          <dt style="text-align: right; display: inline-block; width: 200px;"><%= number_to_currency(@sale.payment_with_debit_card.jumlah, precision:0, unit: "Rp. ", separator: ".", delimiter: ".") %></dt><br />
        <% end %>
      </div>

      <div class="row-fluid form-inline" style="width: 500px; padding-bottom: 5px;">
        <% if @tipe_pembayaran.include? ("Kartu Kredit") %>
          <dt><strong>Kartu Kredit</strong></dt>
          <% @sale.payment_with_credit_cards.each do |cc| %>
            <dt style="display: inline-block; width: 90px; padding-left: 15px;"><strong><%= cc.nama_kartu.nil? ? '' : cc.nama_kartu %>:</strong></dt>
            <dt style="text-align: right; display: inline-block; width: 200px;"><%= number_to_currency(cc.jumlah, precision:0, unit: "Rp. ", separator: ".", delimiter: ".") %></dt><br />
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row-fluid form-inline" style="width: 500px; padding-bottom: 5px;">
      <dt style="display: inline-block; width: 100px;"><strong>Sisa:</strong></dt>
      <dt style="text-align: right; display: inline-block; padding-left: 100px;"><%= number_to_currency(@sale.sisa, precision:0, unit: "Rp. ", separator: ".", delimiter: ".") %></dt>
    </div>
    <br />
  </div>
  <div class="col-md-6">
  </div>
  <br />
  <div class="col-md-12">
    <dt><strong>Jenis Pembayaran :</strong> <%= @sale.tipe_pembayaran.capitalize %></dt><br />
    <dt><strong>Keterangan Pembayaran :</strong> <%= (@sale.cara_bayar == 'um') ? 'Uang Muka' : @sale.cara_bayar.capitalize %></dt><br />
  </div>
</div>

<%#= link_to t('.back', :default => t("helpers.links.back")),
sales_path, :class => 'btn btn-default' %>
<%= link_to "new", new_sale_path, :class => 'btn btn-primary' %>
<%= link_to "Print (PDF)", sale_path(@sale, :format => 'pdf'), :class => 'btn btn-default' %>
<%#= link_to t('.edit', :default => t("helpers.links.edit")), '#edit_order', :class => 'btn btn-default', 'data-toggle' => 'modal' %>
<%= link_to t('Batal Order'), '#destroy_order', :class => 'btn btn-default', 'data-toggle' => 'modal' %>

<div class="modal fade" id="destroy_order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Supervisor</h4>
      </div>
      <div class="modal-body">
        <%= form_tag sale_path(@sale), :method => :delete do %>
          <%= label_tag(:password, "Masukkan supervisor password") %>
          <%= password_field_tag :password %>
          <%= hidden_field_tag :sale, @sale.id %>
          <%= submit_tag "Hapus Order", :class => "btn btn-xs btn-danger" %>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>