<%- model_class = Sale -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <dt><strong><%= model_class.human_attribute_name(:no_so) %>:</strong> <%= @sale.no_so %></dt><br />
    <dt><strong>Tanggal:</strong> <%= @sale.created_at.to_date.strftime('%d-%m-%Y') %></dt><br />
    <dt><strong>Salesman:</strong> <%= @sale.salesman.nama %></dt>
  </div>
  <div class="col-md-6">
    <dt><strong>No Dealer:</strong> <%= @sale.store.kode_customer %></dt><br />
    <dt><strong>Pameran/Showroom:</strong> <%= @sale.store.nama %></dt><br />
    <dt><strong>Periode Pameran:</strong> <%= @sale.store.from_period.strftime('%d/%m/%Y') %>-<%= @sale.store.to_period.strftime('%d/%m/%Y') %></dt>
  </div>
  <br />
  <div>
    <table id="sale_items" class="display table table-striped table-bordered responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="all">Kode Barang</th>
          <th class="all">Nama Barang</th>
          <th class="min-tablet-l">Satuan</th>
          <th class="all">Jumlah</th>
          <th class="min-tablet-l">Bonus</th>
          <th class="min-tablet-l">Tanggal Kirim</th>
        </tr>
      </thead>
      <tbody>
        <% @sale.sale_items.each do |sale_items| %>
          <tr>
            <td><%= sale_items.kode_barang %></td>
            <td><%= sale_items.nama_barang %></td>
            <td>PCS</td>
            <td><%= sale_items.jumlah %></td>
            <td><%= sale_items.bonus %></td>
            <td><%= sale_items.tanggal_kirim %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <dt><strong>Nama Customer :</strong> <%= @sale.customer %></dt><br />
    <dt><strong>No Telp/Hp          :</strong> <%= @sale.phone_number %>, <%= @sale.hp1 %>, <%= @sale.hp2 %></dt><br />
    <dt><strong>Alamat Kirim       :</strong> <%= @sale.alamat_kirim %></dt>
  </div>
  <br />
  <div class="col-md-6">
    <dt><strong>Total:</strong> <%= number_to_currency(@sale.netto, precision:0, unit: "Rp. ", separator: ".", delimiter: ".") %></dt><br />
    <dt><strong>Bayar:</strong> <%= number_to_currency(@sale.pembayaran, precision:0, unit: "Rp. ", separator: ".", delimiter: ".") %></dt><br />
    <dt><strong>Sisa:</strong> <%= number_to_currency((@sale.netto - @sale.pembayaran), precision:0, unit: "Rp. ", separator: ".", delimiter: ".") %></dt>
    <br />
  </div>
  <br />
  <div class="col-md-6">
    <dt><strong>Keterangan Pembayaran :</strong> <%= @sale.cara_bayar %></dt><br />
  </div>
  <br />
  <div class="col-md-6">
    <dt><strong>Jenis Pembayaran :</strong> <%= @sale.tipe_pembayaran.capitalize %></dt>
    <% if @sale.tipe_pembayaran == 'kartu' %>
      <dt><strong>Nama Kartu :</strong> <%= @sale.nama_kartu %></dt><br />
      <dt><strong>No Kartu          :</strong> <%= @sale.no_kartu %></dt><br />
      <dt><strong>No Merchant       :</strong> <%= @sale.no_merchant %></dt>
      <dt><strong>Atas Nama       :</strong> <%= @sale.atas_nama %></dt>
    <% end %>
  </div>
</div>

<%= link_to t('.back', :default => t("helpers.links.back")),
  sales_path, :class => 'btn btn-default'  %>
<%= link_to "Print (PDF)", sale_path(@sale, :format => 'pdf'), :class => 'btn btn-default btn-xs' %>
<% if current_user.admin? %>
    <%#= link_to t('.edit', :default => t("helpers.links.edit")),
  edit_sale_path(@sale), :class => 'btn btn-default' %>
<% end %>
