<%= form_tag reports_export_xml_path(:format => :xml), :method => :get, :id => 'rekapsales' do %>
  <table id="index_of_sales" class="display table table-striped table-bordered responsive nowrap" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th></th>
       <th class="all">No SO</th>
       <th class="all">Kode Barang</th>
        <th class="all">Nama Barang</th>
        <th class="min-tablet-l">Jumlah</th>
        <th class="min-tablet-l">Tanggal Kirim</th>
        <th class="min-tablet-l">Serial</th>
      </tr>
    </thead>

    <tbody>
      <% @sales.each do |sale_item| %>
        <tr>
          <td><%= check_box_tag "sale_items_ids[]", sale_item.id %></td>
          <td><%= link_to sale_item.sale.no_so, sale_path(sale_item.sale.id) %></td>
          <td><%= sale_item.kode_barang %></td>
          <td><%= sale_item.nama_barang %></td>
          <td><%= sale_item.jumlah %></td>
          <td><%= sale_item.tanggal_kirim %></td>
          <td><%= sale_item.serial %></td>
        <% end %>
    </tbody>
  </table>
  <%= label_tag "Masukkan email sales counter" %>
  <%= text_field_tag :email %><br />
  <%= submit_tag "Export & Kirim", :class => 'btn btn-default' %>
<% end %>