<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PointOfSales" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">PointOfSales</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <% if current_user %>
            <ul class="nav navbar-nav">
              <li>
                <% if current_user.admin? %>
                  <%= drop_down "Masters" do %>
                    <%= menu_item "Pameran", stores_path %>
                  <% end %>
                <li><%= link_to "Laporan", reports_index_path %></li>
              <% end %>
              </li>
              <% if current_user.role == 'supervisor' %>
                <%= drop_down "Masters" do %>
                  <%= menu_item "Pameran", stores_path %>
                <% end %>
                <%= drop_down "Transaksi" do %>
                  <li><%= link_to "Penerimaan Barang", item_receipts_receipt_path  %></li>
                  <li><%= link_to "Sales Order", new_sale_path  %></li>
                  <li><%= link_to "Nota Retur Display", return_items_return_path %></li>
                <% end %>
                <%= drop_down "Export Rekap SO" do %>
                  <li><%= link_to "Rekap SO Elite", reports_sales_counter_path(brand_id: 2)  %></li>
                  <li><%= link_to "Rekap SO Lady", reports_sales_counter_path(brand_id: 4)  %></li>
                <% end %>
                <%= drop_down "Report" do %>
                  <li><%= link_to "Rekap SO", "#" %></li>
                  <li><%= link_to "Laporan Mutasi Stock", "#"   %></li>
                  <li><%= link_to "Selisih Intransit vs Peneriman", "#"   %></li>
                  <li><%= link_to "Selisih Retur Display vs Laporan Stock Display", "#"  %></li>
                <% end %>
              <% end %>
              <% if current_user.role == 'sales_promotion' %>
                <%= drop_down "Transaksi" do %>
                  <li><%= link_to "Penerimaan Barang", item_receipts_receipt_path  %></li>
                  <li><%= link_to "Sales Order", new_sale_path  %></li>
                  <li><%= link_to "Nota Retur Display", return_items_return_path %></li>
                <% end %>
                <%= drop_down "Export Rekap SO" do %>
                  <li><%= link_to "Rekap SO Elite", reports_sales_counter_path(brand_id: 2)  %></li>
                  <li><%= link_to "Rekap SO Lady", reports_sales_counter_path(brand_id: 4)  %></li>
                <% end %>
                <%= drop_down "Report" do %>
                  <li><%= link_to "Rekap SO", "#" %></li>
                  <li><%= link_to "Laporan Mutasi Stock", "#"   %></li>
                  <li><%= link_to "Selisih Intransit vs Peneriman", "#"   %></li>
                  <li><%= link_to "Selisih Retur Display vs Laporan Stock Display", "#"  %></li>
                <% end %>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li> <%= link_to 'Sign In', new_user_session_path %> </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div><!--/row-->

<%#*<footer>%>
<%#*<p>&copy; Company 2015</p>%>
<%#*</footer>%>

  </div> <!-- /container -->

</body>
</html>
