<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Point Of Sales" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" %>
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "http://code.jquery.com/jquery-1.11.1.min.js" %>
    <%= javascript_include_tag "http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div data-role="page" id="pageone">
      <div data-role="header">
        <h1>Point of Sales</h1>
        <% if current_user %>
          <% if current_user.admin? %>
            <div data-role="navbar">
              <ul>
                <li><%= link_to 'Master', page_admin_master_landing_page_path, "data-icon"=>"grid" %></li>
                <li><a href="#" data-icon="mail">Laporan</a></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, "data-icon"=>"action" %></li>
              </ul>
            </div>
          <% end %>
          <% if current_user.role == 'accounting' %>
            <div data-role="navbar">
              <ul>
                <li><%= link_to "Verify Payment", accounting_verifying_payments_path, "data-icon"=>"grid" %></li>
                <li><%= link_to "Laporan Stok", accounting_stocks_mutasi_stock_path, "data-icon"=>"grid" %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, "data-icon"=>"action" %></li>
              </ul>
            </div>
          <% end %>
          <% unless current_user.admin? || current_user.role == 'accounting' %>
            <div data-role="navbar">
              <ul>
                <li><%= link_to "Stok", import_intransit_channel_customers_path, "data-icon"=>"grid" %></li>
                <li><%= link_to "Sales Order", new_sale_path, "data-icon"=>"grid" %></li>
                <li><%= link_to 'Pelunasan', new_acquittance_path, "data-icon"=>"action" %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, "data-icon"=>"action" %></li>
              </ul>
            </div>
          <% end %>
        <% else %>
          <div data-role="navbar">
            <ul>
              <li><%= link_to 'Sign In', new_user_session_path, "data-icon"=>"lock" %></li>
            </ul>
          </div>
        <% end %>
      </div>

      <div data-role="main" class="ui-content">
        <%= yield %>
      </div>
    </div>

    <div class="navbar-default navbar-fixed-bottom">
      <p class="copyright-footer">&copy; Royal Abadi Sejahtera 2015</p>
      <p class="manual-footer">Butuh Buku Manual? <%= link_to 'Download',
          page_download_manual_book_path(format: 'pdf'), class: "link_download" %></p>
      </div>

    </body>
  </html>